body {
    margin: 0 20px 0 0;
    background-color: #131722;
}
.topMenuContainer{
    padding: 4px 40px;
}
.widgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.forex-widget {
    min-width: 800px;
    height: 400px;
    flex: 1;
}